<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="esewa.tdi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".AddDeviceChargerCableActivity"
            android:exported="false" />
        <activity
            android:name="com.esewa.tdi.ui.activity.profile.ProfileActivity"
            android:exported="false"
            android:parentActivityName="com.esewa.tdi.ui.activity.main.MainActivity" />
        <activity
            android:name="com.esewa.tdi.ui.activity.splash.RoutingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.esewa.tdi.ui.activity.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name="com.esewa.tdi.ui.activity.device.DeviceActivity"
            android:exported="false"
            android:parentActivityName="com.esewa.tdi.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esewa.tdi.ui.activity.cable.CableActivity"
            android:exported="false"
            android:parentActivityName="com.esewa.tdi.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esewa.tdi.ui.activity.charger.ChargerActivity"
            android:exported="false"
            android:parentActivityName="com.esewa.tdi.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esewa.tdi.ui.activity.register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name="com.esewa.tdi.ui.activity.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esewa.tdi.ui.activity.userdetail.UserDetailActivity"
            android:exported="false"
            android:parentActivityName="com.esewa.tdi.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esewa.tdi.ui.activity.assign.AssignActivity"
            android:exported="false"
            android:parentActivityName="com.esewa.tdi.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>